/* Dimensions */
$large: 22px;
$medium: 14px;
$small: 12px;

/* Form Dimensions */
$input-height: 45px;

/* Site Dimensions */
$site-wide: 1205px;
$site-width: 920px;
$footer-height: 395px;

/* Colors */
$black: #242524;
$blue: #5cc4ea;
$white: #fff;
$off-white: #f7f7f7;
$dark-grey: #55565a;
$grey: #999;
$light-grey: #e1e1e1;
$dark: #55565a;
$light-blue: #198ccc;
$dark-blue: #006699;

// not sure if correct color hex codes
// $dark-blue: #252526;
$dark-red: #cc0000;
$red: #ff0000;
$orange: #e9b01f;
$grey: #ccc;


/* Z-Index */
$level1: 1;
$level2: 2;
$level3: 3;
$level4: 4;
$level5: 5;

/* Speeds */
$quick: .1s;
$fast: .25s;
$slow: .45s;

/* Fonts */
$bebas-light: "bebas neue light";
$bebas-book: "bebas neue book";
$bebas-bold: "bebas neue bold";